@model List<Book>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 0;
}

<div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Books</h4>
                    <p class="card-description">
                        <a class="btn btn-success fs-5" asp-action="create">Add Book</a>
                    </p>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Genres</th>
                                    <th>Authors</th>
                                    <th>Settings</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    count++;
                                    <tr>
                                        <td>@count</td>
                                        
                                        <td>@item.Name</td>
                                        <td> $@item.Price</td>
                                        <td style="display:flex; flex-direction: column;">
                                            @foreach (var genre in item.BookGenres)
                                            {
                                                <span>@genre.Genres.Name.ToUpper()</span>
                                            }
                                        </td>

                                        <td style="width: 100px">
                                            @foreach (var author in item.BookAuthors)
                                            {
                                                <span>@author.Authors.Name</span>

                                            }
                                        </td>
                                        <td>
                                            <a class="btn btn-warning fs-5" asp-action="update" asp-route-id="@item.Id">Update</a>
                                            <a class="btn btn-success fs-5" asp-action="detail" asp-route-id="@item.Id">Detail</a>
                                            <a class="btn btn-danger fs-5" asp-action="delete" asp-route-id="@item.Id">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</div>